{{ $deaths := .Site.Data.register }}
{{ if $deaths }}
  {{ range $deaths }}
    {{ $content := dict
      "mediaType" "text/html"
      "value" .description
    }}
    {{ $page := dict
      "content" $content
      "title" .title
      "date" (time.AsTime .death_date)
      "slug" (urlize .title)
      "type" "podcasts"
      "path" (urlize .title)
    }}
    {{ $.AddPage $page }}
  {{ end }}
{{ else }}
  {{ warnf "No deaths found in register file." }}
{{ end }}
